/************************************/
/********** GLOBAL STYLES  **********/
/************************************/

h2 {
  font-size: 36px;
  color: #687d68;
  text-shadow: 1px 1px 1px grey;
}

p {
  font-size: 16px;
  color: #4d4d4d;
}

/************************************/
/********** WRAPPER LAYOUT **********/
/************************************/

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  max-width: 100%;
}

/************************************/
/********** SECTION LAYOUT **********/
/************************************/

.creative-process {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  margin: 5% 30%;
  padding: 5% 5%;
  border: 2px solid #f6f6f6;
  border-radius: 15px;
  background-color: rgba(229, 229, 229, .95);
}

.coordination-process {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  margin: 5% 30%;
  padding: 5% 5%;
  border: 2px solid #f6f6f6;
  border-radius: 15px;
  background-color: rgba(229, 229, 229, .95);
}

.occasion-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.additional-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 2% auto;
  padding: 2% 2%;
  border: 2px solid #f6f6f6;
  border-radius: 15px;
  background-color: rgba(229, 229, 229, .95);
  width: 50%;
}

/************************************/
/********** IMAGE LAYOUT ************/
/************************************/

.page-one {
  background-image: url('../../assets/tasting-one.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.page-two {
  background-image: url('../../assets/plate.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.page-three {
  background-image: url('../../assets/beer.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/************************************/
/********** TEXT-AREA STYLING  ******/
/************************************/

.textarea {
  width: 200px;
  height: 100px;
  border: 2px solid #4d4d4d;
  border-radius: 5px;
  background-color: #f6f6f6;
}

.creative-body {
  padding-top: 4%;
  padding-bottom: 2%;
}

/************************************/
/********** FORM STYLING ************/
/************************************/

label {
  color: #4d4d4d;
  font-size: 12px;
}

/************************************/
/********** BUTTON STYLING **********/
/************************************/

.help {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2% 20%;
  cursor: pointer;
  border: 1px solid #4d4d4d;
  border-radius: 15px;
  height: 5em;
}

.hands-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2% 20%;
  cursor: pointer;
  border: 1px solid #4d4d4d;
  border-radius: 15px;
  height: 5em;
}

#help,
#little-help,
#want-help,
#all-hands,
#no-hands {
  display: none;
}

/************************************/
/********** PSEUDO CLASSES **********/
/************************************/

.help:hover,
.hands-button:hover {
  background-color: #ccc;
}

.help::selection {
  background-color: green;
}
