label {
  font-size: 16px;
  color: #4d4d4d;
}

.wrapper > button {
  width: 30em;
  height: 7em;
  margin: 2em 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.serviceForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.serviceWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 75svh;
}

.checkRadio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30em;
  height: 7em;
  margin: .5em 0;
  background-color: rgba(229, 229, 229, .95);
  border-radius: 15px;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(229, 229, 229, .95);
  border-radius: 15px;
  width: 20em;
  height: 10em;
  margin: .5em;
}

#checks {
  display: flex;
  margin: 1;
  padding: 0;
}

#DrinkService {
  background-image: url("../../assets/bar.jpg");
  background-size: cover;
}

.next-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.69);
  width: 50%;
  font-size: 1.1em;
  color: rgb(50, 51, 51);
  /*margin: 1% 10% 1% 25%;*/
  cursor: pointer;
  border: 1px solid #4d4d4d;
  border-radius: 15px;
  height: 2em;
  padding: 2%;
}
