button {
  width: 30em;
  height: 7em;
  margin: 2em 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.serviceForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.serviceWrapper {
  text-align: center;
}

.checkRadio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30em;
  height: 7em;
  margin: .5em 0;
  background-color: white;
  border-radius: .5em;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: .5em;
  width: 20em;
  height: 10em;
  margin: .5em;
}

#checks {
  display: flex;
  margin: 1;
  padding: 0;
}

#DrinkService {
  background-image: url("../../assets/table.jpg");
  background-size: cover;
}
