h3 {
  font-size: 18px;
  color: #4d4d4d;
  text-shadow: 1px 1px 1px grey;
}

h2 {
  font-size: 36px;
  color: #687D68;
  text-shadow: 1px 1px 1px grey;
}

p {
  font-size: 16px;
  color: #4d4d4d;
}

.welcome-title {
    font-size: 22px;
}

.pack {
  display: flex;
}

.count > h3 {
  font-weight: normal;
}

.count {
  font-weight: normal;
  padding-top: .3em;
  width: 25em;
  height: 7em;
  margin: .5em 0;
  background-color: rgba(229, 229, 229, .95);
  border-radius: .5em;
}

#welcome {
  background-image: url(../../assets/outside-seating.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#block {
  margin: .4em;
  width: 20em;
  height: 12em;
  padding: 6%;
  border-radius: .5em;
  background-color: rgba(229, 229, 229, .95);
}

.themeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../../assets/outside-seating.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
