h2 {
  font-size: 36px;
  color: #687D68;
  text-shadow: 1px 1px 1px grey;
}

p {
  font-size: 16px;
  color: #4d4d4d;
}

.pack {
  display: flex;
}

.count > h3 {
  font-weight: normal;
}

.count {
  font-weight: normal;
  padding-top: .3em;
  width: 25em;
  height: 7em;
  margin: .5em 0;
  background-color: white;
  border-radius: .5em;
}

#welcome {
  background-image: url(../../assets/outside-seating.jpg);
  background-size: contain;
}

#block {
  margin: .4em;
  width: 12em;
  height: 12em;
  border-radius: .5em;
  background-color: white;
}

.themeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
