header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #323333;
}

nav {
  margin: 0 2em;
}

nav > a {
  margin: 0 1em;
  text-decoration: none;
  color: white;
}

header > .logo {
  width: 6em;
  height: 5em;
  margin: 0 0 0 2em;
}
