header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #666;
}

nav {
  margin: 0 2em;
}

a {
  margin: 0 1em;
  text-decoration: none;
  color: white;
}

.logo {
  width: 6em;
  height: 5em;
  margin-left: 2em;
}
