.venue > h3 {
  font-weight: normal;
  margin: .5em;
  padding: .5em;
}

.time > h3 {
  font-weight: normal;
  margin: .5em;
}

.venue {
  background-color: white;
  border-radius: .3em;
  padding: .2em;
  margin: 2em;
  width: 15em;
  height: 6em;
}

.time {
  padding-top: 1em;
  background-color: white;
  border-radius: .5em;
  width: 20em;
  height: 10em;
}

#plan {
  font-weight: normal;
  background-image: url("../../assets/table.jpg");
  background-size: cover;
  font-weight: normal;
}
