.venue-timeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 100vh;
}

.venue > h3 {
  font-size: 22px;
  color: #687D68;
  text-shadow: 1px 1px 1px grey;
}

.time > h3 {
  font-size: 22px;
  color: #687D68;
  text-shadow: 1px 1px 1px grey;
}

.venue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(229, 229, 229, .95);
  border: 2px solid #f6f6f6;
  border-radius: 15px;
  padding: 6%;
  margin: 2% 0;
  height: 20%;
  width: 100%;
}

#calendar {
  padding: 10px;
  text-align: center;
  background-color: #f6f6f6;
  border-radius: 15px;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(229, 229, 229, .95);
  border: 2px solid #f6f6f6;
  border-radius: 15px;
  padding: 20%;
  margin: 2% 0;
  height: 30%;
  width: 100%
}

.venue-button,
.time-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2% 20%;
  cursor: pointer;
  border: 1px solid #4d4d4d;
  border-radius: 15px;
  height: 5em;
  padding: 3%;
}

.venue-button:hover,
.time-button:hover {
  background-color: #ccc;
}

#venue-yes,
#venue-no,
#time-morning,
#time-afternoon,
#time-evening {
  display: none;
}


#plan {
  font-weight: normal;
  background-image: url("../../assets/table.jpg");
  background-size: cover;
  font-weight: normal;
}

.venueWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
